/* use !important to overide specificity. but be wary... it stays forever*/
p{
    text-align: left;
    text-indent: 10px;
    letter-spacing: 3px;
}

body{
    background-color: #faebd7;
}
h1{
    font-size: 40x;
    color: hotpink;
    font-family: 'Courier New', Courier, monospace;
}
.long_and_skinny{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, serif;
    font-stretch: ultra-expanded;
    line-height: 85%;
    font-weight: bolder;
    font-variant: small-caps;
}
.rainbow{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    animation: color-change 1s infinite;
    animation:  duration timing-function delay iteration-count direction fill-mode;
}
@keyframes color-change {
    /*This makes a weird rainbow, its not a rainbow*/
    0% { color: red; }
    10% { color: orange; }
    20% { color: brown; }
    30% { color: yellow; }
    40% { color: yellowgreen; }
    50% { color: green; }
    60% { color: teal; }
    70% { color: lightseagreen; }
    80% { color: lightblue; }
    90% { color: white; }
    100% { color: black; }
  }

 #title ,.center{
    text-align: center;
    text-shadow: 2px 1px black;
  }
  

.box{
    width: 300px;
    border: 15px solid green;
    padding: 0px;
    margin: 20px;
    display: inline-block;
}

img{
    position: sticky;
    width: 600;
    height: auto;
}
a:hover{
    color:crimson;
}
th,td{
    border-bottom:1px solid black;
    width: fit-content;
    vertical-align: middle;
    horizontal-align: center;
    padding: 30px;
}
th{
    background-color: greenyellow;
}
tr:hover{
    background-color: bisque;
}
/*
Messes with the hover style:
tr:nth-child(even){
    background-color: #ffdfb6;
}
*/
#fixed{
    position: fixed;
    bottom: 0;
    right: 0;
    width: 100px;
    border: 1px solid darkgreen;
    background-color: aquamarine; 
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.sticky{
    position: sticky;
    bottom: 0;
    left: 0;
}
.info{
    position: absolute;
    width: 25px;
    height: auto;
    top: 542;
    left: 400;
}
/*test*/
.itworks{
    font-size: 600px;
    color: green;

}