/* use !important to overide specificity. but be wary... it stays forever*/

body{
    background-color: antiquewhite;
}
h1{
    font-size: 40x;
    color: hotpink;
    font-family: 'Courier New', Courier, monospace;
}
.long_and_skinny{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-stretch: ultra-expanded;
    line-height: 85%;
    font-weight: bolder;
    font-variant: small-caps;
}
h4.sides{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    animation: color-change 1s infinite;
    animation:  duration timing-function delay iteration-count direction fill-mode;
}
@keyframes color-change {
    /*This makes a weird rainbow, its not a rainbow*/
    0% { color: red; }
    10% { color: orange; }
    20% { color: brown; }
    30% { color: yellow; }
    40% { color: yellowgreen; }
    50% { color: green; }
    60% { color: teal; }
    70% { color: lightseagreen; }
    80% { color: lightblue; }
    90% { color: white; }
    100% { color: black; }
  }

 #title ,.center{
    text-align: center;
  }

#fine_print{
    font-size: xx-small;
}
.box{
    width: 300px;
    border: 15px solid green;
    padding: 0px;
    margin: 20px;
}